.price {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--color-wite2);
}

.price-title {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 70px;
  margin-bottom: 60px;
  color: var(--color-dark);
  border-bottom: 3px solid var(--color-primary);
}

.price-content {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: var(--color-wite);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.price-dashed {
  border: none;
  height: 1px;
  width: 65%;
  margin: 13px 10px 0;
  background: repeating-linear-gradient(
    90deg,
    var(--color-grey),
    var(--color-grey) 6px,
    transparent 6px,
    transparent 12px
  );
}

.price-plan {
  display: flex;
  justify-content: space-evenly;
}

.price-plan:not(:last-child) {
  margin-bottom: 30px;
}

.price-name {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-grey2);
}
.price-money {
  color: var(--color-primary);
  font-size: 25px;
}
