:root {
  --color-primary: #f18367;
  --color-wite: #ffffff;
  --color-wite2: #f5f4fa;
  --color-sec: #f19985;
  --color-dark: #414040;
  --color-grey: #bfbfbf;
  --color-grey2: #999999;
  --color-brow: #7a463b;
  --gradient: linear-gradient(135deg, #f19985 0%, #f18367 100%);
}
